.footer {
    background-color: $primaryColor;
    height: 35vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .info{

        display: flex;
        margin: 20px 0 0 0;
        flex-direction: row;
        justify-content: space-around;

        &__row {
            color: $fontColor;
            padding: 5px;
            margin: 0 20px;

            .list {
                display: flex;
                flex-direction: column;
                list-style-type: none;

                &__element {
                    font-size: 20px;
                    padding: 5px;

                    a{
                        text-decoration: none;
                        color: $fontColor;
                        transition: 0.3s;

                        &:visited{
                            text-decoration: none;
                            color: $fontColor;
                        }

                        &:hover{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

    }

    .media {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        border-bottom: 2px solid $fontColor;
        padding: 30px 20px 20px 20px;
        
        

        &__element {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 10px;
            margin: 5px;
            background-color: $fontColor;

            .picture {
                width: 20px;
                height: 20px;;
            }
        }
    }

    p {
        margin: 8px 0;
        color: $fontColor;
        font-size: 10px;
    }

}

@media (min-width: 768px) {

    .footer {

        height: 45vh;

        .info{

            margin: 40px 0 0 0;
    
            &__row {
                padding: 10px;
                margin: 0 40px;
    
                .list {
    
                    &__element {
                        font-size: 30px;
                        padding: 10px;
                    }
                }
            }
    
        }
    
        .media {
            padding: 80px 40px 40px 40px;
            
             &__element {
                width: 30px;
                height: 30px;
                padding: 20px;
                margin: 10px;
    
                .picture {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        p {
            margin-top: 16px;
            font-size: 20px;
        }
    }
}

@media (min-width:800px) {
    .footer {
        background-color: $primaryColor;
        height: 45vh;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .info, .media {
            width: 50%;
        }

        .info{
    
            display: flex;
            margin:  5vh 0 0;
            flex-direction: row;
            justify-content: space-around;
    
            &__row {
                color: $fontColor;
                padding: 10px;
    
                .list {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
    
                    &__element {
                        padding: 7px 5px;
                        font-size: 0.9rem;
                    }

                    &__element:hover {
                        color: $secondColor;
                    }
                }
            }
    
        }
    
        .media {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: none;
            margin: 5vh 0 0;
            padding: 0;
            
            
    
            &__element {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                padding: 10px;
                margin: 5px;
                background-color: $fontColor;
                cursor: pointer;
    
                .picture {
                    width: 18px;
                    height: 18px;;
                }

                &:hover {
                    background-color: $secondColor;
                }
            }
        }
    
        p { 
            width: 100%;
            text-align: center;
            padding: 5px 20px;
            border-top: 1px solid $fontColor;
            margin: 40px 20px 8px;
            color: $fontColor;
            font-size: 10px;
        }
    
    }
}
