.form{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;

    .register__form{
        width: 90%;
        display: flex;
        flex-direction: column;

        .form__element{
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .element__text{
                color: $primaryColor;
            }


            input{
                padding: 6px;
                border: 2px solid $primaryColor;
                border-radius: 5px;
                transition: 0.2s linear;
            }

            input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
                -webkit-box-shadow: 1px 1px 6px 1px rgba(1,184,1,0.86);
                -moz-box-shadow: 1px 1px 6px 1px rgba(1,184,1,0.86);
                box-shadow: 1px 1px 6px 1px rgba(1,184,1,0.86);
                outline: none;
            }
        }

        .form__element:nth-child(3){
            display: flex;
            justify-content: space-between;
        }

        .form__submit{
            font-size: 15px;
            width: 50%;
            text-align: center;
            margin: 5% auto;
            padding: 7px;
            background-color: $primaryColor;
            color: $fontColor;
            border: 1px solid $fontColor;
            border-radius: 10px;
            transition: 0.3s linear;


            &:active{
                outline: none;
            }
        }
    }
}