.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid $fontColor;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;

        
        &__picture{
            width: 20%;
        }

        &__text{
            color: $primaryColor;
            font-family: $primaryFont;
            font-size: 20px;
            padding: 5px;
        }
    }

    .hamburger{

        width: 15%;
        
        &__icon {
            width: 35px;
            height: 35px;
        }
    }
}

@media (min-width: 768px) {
    .header {
        width: 100%;
        border-bottom: 5px solid $fontColor;

        .logo {

            &__text {
                font-size: 35px;
            }
        }

        .hamburger {

            &__icon {
            width: 50px;
            height: 50px;
            }
        }
    }
}

