.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &__picture{
            width: 20%;
        }

        &__text{
            color: $primaryColor;
            font-family: $primaryFont;
            font-size: 20px;
            padding: 5px;
        }
    }

    .hamburger{
        
        &__icon {
            width: 35px;
            height: 35px;
        }
    }
}