@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-bottom: 3px solid #97FF85;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: #2B801C;
}

.header .logo a .logo__picture {
  width: 20%;
}

.header .logo a .logo__text {
  color: #2B801C;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
}

.header .hamburger {
  width: 15%;
}

.header .hamburger__icon {
  width: 35px;
  height: 35px;
}

.header .hamburger__menu {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 10vw;
  width: 80vw;
  height: 450px;
  background-color: white;
  border: 2px solid #2B801C;
  border-radius: 10px;
  display: none;
  -webkit-animation: menuUp 0.5s linear both;
          animation: menuUp 0.5s linear both;
}

.header .hamburger__menu .list {
  font-family: "Roboto", sans-serif;
  color: #2B801C;
  padding: 10px;
}

.header .hamburger__menu .list__element {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0;
}

.header .hamburger__menu .list__element a {
  text-decoration: none;
  color: #2B801C;
}

.header .hamburger .visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .form {
  display: none;
}

@media (min-width: 767px) {
  .header {
    width: 100%;
    height: 12vh;
    border-bottom: 5px solid #97FF85;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .logo__text {
    font-size: 40px;
  }
  .header .hamburger__icon {
    width: 50px;
    height: 50px;
  }
  .header .hamburger__menu {
    height: 700px;
    border-radius: 20px;
    left: 17.5vw;
    width: 65vw;
  }
  .header .hamburger__menu .list {
    padding: 30px;
  }
  .header .hamburger__menu .list__element {
    font-size: 36px;
    margin: 80px 0;
  }
}

@media (min-width: 800px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 13vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 40px;
    border: none;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo a .logo__picture {
    width: 15%;
    height: 80%;
    -ms-flex-item-align: centers;
        -ms-grid-row-align: centers;
        align-self: centers;
  }
  .header .logo a .logo__text {
    color: #2B801C;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 8vh;
    padding: 15px;
  }
  .header .hamburger {
    display: none;
  }
  .header .form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #2B801C;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .form__login, .header .form__register {
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .form__login a, .header .form__register a {
    text-decoration: none;
    color: #2B801C;
  }
  .header .form__login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    left: 61px;
    width: 2px;
    height: 25px;
    border-right: 1px solid #2B801C;
  }
  .header .form__login:hover, .header .form__register:hover {
    font-size: 18px;
  }
  .header .form__icon {
    padding: 0 5px;
    width: 25px;
    height: 25px;
  }
}

@-webkit-keyframes menuUp {
  0% {
    top: 600px;
  }
  20% {
    top: 500px;
  }
  40% {
    top: 400px;
  }
  60% {
    top: 300px;
  }
  80% {
    top: 200px;
  }
  100% {
    top: 100px;
  }
}

@keyframes menuUp {
  0% {
    top: 600px;
  }
  20% {
    top: 500px;
  }
  40% {
    top: 400px;
  }
  60% {
    top: 300px;
  }
  80% {
    top: 200px;
  }
  100% {
    top: 100px;
  }
}

.nav {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 10vh;
  padding: 10px 20px;
  background-color: #2B801C;
  margin-top: calc(8vh + 20px);
}

.nav__row {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    height: 12vh;
    margin-top: calc(12vh + 25px);
  }
}

@media (min-width: 800px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    margin-top: 13vh;
    color: #97FF85;
  }
  .nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__row .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__row .list__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    position: relative;
    margin: 0 10px;
  }
  .nav__row .list__element a {
    text-decoration: none;
    color: #97FF85;
  }
  .nav__row .list__element::after {
    content: '';
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    height: 2px;
    background-color: #97FF85;
    width: 80px;
  }
  .nav__row .list__element:hover::after {
    display: block;
    -webkit-animation: addBorderNav 0.3s ease-in both;
            animation: addBorderNav 0.3s ease-in both;
  }
}

@-webkit-keyframes addBorderNav {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes addBorderNav {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.register__header {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2B801C;
}

@media (min-width: 1024px) {
  .register__header {
    font-size: 30px;
  }
}

.register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.register__element {
  width: 80%;
  padding: 15px;
}

@media (min-width: 1024px) {
  .register__element {
    width: 50%;
  }
}

.register__element label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #2B801C;
}

@media (min-width: 1024px) {
  .register__element label {
    font-size: 23px;
  }
}

.register__element label input {
  padding: 6px;
  border: 2px solid darkgreen;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .register__element label input {
    width: 30%;
  }
}

.register__element label input:focus {
  outline: none;
}

.register__button {
  padding: 10px;
  width: 60%;
  margin-top: 15px;
  background-color: #97FF85;
  color: darkgreen;
  text-transform: uppercase;
  border: 2px solid #2B801C;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .register__button {
    width: 20% !important;
    margin-top: 60px;
  }
}

.register__button:hover {
  background-color: darkgreen;
  color: #97FF85;
  border-color: #97FF85;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(8vh + 20px);
  margin-bottom: 20px;
  width: 100%;
}

.content .textButton__text {
  display: none;
}

.content .textButton__button {
  margin-top: 5vh;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  background-color: white;
  font-size: 20px;
  color: #2B801C;
  border: 2px solid #2B801C;
  outline: none;
  z-index: 0;
}

.content .textButton__button a {
  text-decoration: none;
  color: #2B801C;
}

.content .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .slider__picture {
  width: 240px;
  height: 240px;
}

.content .slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: #2B801C;
}

.content .slider__arrow .canvas {
  width: 30px;
  height: 30px;
}

.content .slider__arrow .left {
  margin-right: 20px;
}

.content .slider__arrow .right {
  margin-left: 20px;
}

.content .switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

.content .switcher__dot {
  width: 15px;
  height: 15px;
  background-color: #2B801C;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .content .textButton__text {
    display: none;
  }
  .content .textButton__button {
    margin-top: 10vh;
    border-radius: 14px;
    width: 250px;
    height: 90px;
    font-size: 35px;
    border: 3px solid #2B801C;
  }
  .content .slider__picture {
    width: 511px;
    height: 511px;
  }
  .content .slider__arrow .canvas {
    width: 60px;
    height: 60px;
  }
  .content .slider__arrow .left {
    margin-right: 40px;
  }
  .content .slider__arrow .right {
    margin-left: 40px;
  }
  .content .switcher__dot {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 800px) {
  .content {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 12vh;
    margin-bottom: 20px;
  }
  .content .textButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .textButton__button {
    position: relative;
    margin-top: 20vh;
    width: 200px;
    height: 66px;
    border: 2px solid #2B801C;
    font-size: 27px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 0.7px;
    cursor: pointer;
    opacity: 1;
    text-align: center;
  }
  .content .textButton__button::before {
    position: absolute;
    bottom: 15px;
    right: -2px;
    content: 'Trees!';
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .content .textButton__button:hover span {
    opacity: 0;
  }
  .content .textButton__button:hover::before {
    opacity: 1;
  }
  .content .textButton__text {
    font-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    color: #2B801C;
  }
  .content .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
  .content .slider__picture {
    width: 450px;
    height: 400px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .content .slider__picture:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 9px 10px 14px -9px rgba(43, 128, 28, 0.75);
            box-shadow: 9px 10px 14px -9px rgba(43, 128, 28, 0.75);
  }
  .content .slider__arrow {
    display: none;
  }
  .content .switcher {
    display: none;
  }
  .content .switcher__dot {
    display: none;
  }
}

.content__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.content__wrapper .filter {
  display: block;
  background-color: lightgreen;
  border: 1px solid #2B801C;
  width: 200px;
  height: 500px;
}

.content__header {
  color: #2B801C;
  font-size: 35px;
  padding: 10px;
  margin-top: 10px;
}

.content__description {
  color: #2B801C;
  font-size: 25px;
  padding: 20px;
  letter-spacing: 1px;
  text-align: justify;
}

.history__list li {
  padding: 7px;
  color: #2B801C;
  font-size: 20px;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  margin: 40px 0 0;
  background-image: url(../images/tree.png);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-position: 10px 1px;
  background-repeat: no-repeat;
}

.section .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
  padding: 20px 10px 0;
}

.section .article:nth-child(odd) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section .article:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section .article__title {
  font-size: 2rem;
  color: #2B801C;
  text-decoration: none;
  text-align: center;
}

.section .article__content {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
}

.section .article__button {
  display: none;
}

@media (min-width: 768px) {
  .section {
    padding: 30px 0 0;
    margin-top: 50px;
    padding-bottom: 70px;
    background-position: 250px 0px;
  }
  .section .article {
    margin: 10px;
    padding: 20px;
  }
  .section .article__title {
    font-size: 3.5rem;
  }
  .section .article__content {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 12vh 0 0;
    background-image: url(../images/tree.png);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-position: 200px 10px;
    background-repeat: no-repeat;
  }
  .section .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding: 0 40px;
  }
  .section .article:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .section .article:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section .article__title {
    font-size: 2rem;
    padding: 5px;
    color: #2B801C;
    text-decoration: none;
    text-align: center;
  }
  .section .article__content {
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
  }
  .section .article__button {
    display: block;
    padding: 7px 5px;
    border-radius: 10px;
    margin: 10px 0 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 0;
    width: 80px;
    background-color: white;
    color: #2B801C;
    border: 1px solid #2B801C;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
  }
  .section .article:hover > .article__button {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.register__header {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2B801C;
}

@media (min-width: 1024px) {
  .register__header {
    font-size: 30px;
  }
}

.register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.register__element {
  width: 80%;
  padding: 15px;
}

@media (min-width: 1024px) {
  .register__element {
    width: 50%;
  }
}

.register__element label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #2B801C;
}

@media (min-width: 1024px) {
  .register__element label {
    font-size: 23px;
  }
}

.register__element label input {
  padding: 6px;
  border: 2px solid darkgreen;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .register__element label input {
    width: 30%;
  }
}

.register__element label input:focus {
  outline: none;
}

.register__button {
  padding: 10px;
  width: 60%;
  margin-top: 15px;
  background-color: #97FF85;
  color: darkgreen;
  text-transform: uppercase;
  border: 2px solid #2B801C;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .register__button {
    width: 20% !important;
    margin-top: 60px;
  }
}

.register__button:hover {
  background-color: darkgreen;
  color: #97FF85;
  border-color: #97FF85;
}

.footer {
  background-color: #2B801C;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .info__row {
  color: #97FF85;
  padding: 5px;
  margin: 0 20px;
}

.footer .info__row .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.footer .info__row .list__element {
  font-size: 20px;
  padding: 5px;
}

.footer .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #97FF85;
  padding: 30px 20px 20px 20px;
}

.footer .media__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  background-color: #97FF85;
}

.footer .media__element .picture {
  width: 20px;
  height: 20px;
}

.footer p {
  margin: 8px 0;
  color: #97FF85;
  font-size: 10px;
}

@media (min-width: 768px) {
  .footer {
    height: 45vh;
  }
  .footer .info {
    margin: 40px 0 0 0;
  }
  .footer .info__row {
    padding: 10px;
    margin: 0 40px;
  }
  .footer .info__row .list__element {
    font-size: 30px;
    padding: 10px;
  }
  .footer .media {
    padding: 80px 40px 40px 40px;
  }
  .footer .media__element {
    width: 30px;
    height: 30px;
    padding: 20px;
    margin: 10px;
  }
  .footer .media__element .picture {
    width: 30px;
    height: 30px;
  }
  .footer p {
    margin-top: 16px;
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  .footer {
    background-color: #2B801C;
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .info, .footer .media {
    width: 50%;
  }
  .footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5vh 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .info__row {
    color: #97FF85;
    padding: 10px;
  }
  .footer .info__row .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
  }
  .footer .info__row .list__element {
    padding: 7px 5px;
    font-size: 0.9rem;
  }
  .footer .info__row .list__element:hover {
    color: #9FFFAF;
  }
  .footer .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    margin: 5vh 0 0;
    padding: 0;
  }
  .footer .media__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    background-color: #97FF85;
    cursor: pointer;
  }
  .footer .media__element .picture {
    width: 18px;
    height: 18px;
  }
  .footer .media__element:hover {
    background-color: #9FFFAF;
  }
  .footer p {
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    border-top: 1px solid #97FF85;
    margin: 40px 20px 8px;
    color: #97FF85;
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */